/* latin */
@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/montserrat-light.ttf") format("truetype");
  }

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-regular.ttf") format("truetype");
  }